.navBot{
 width: 100%;
 height: 100px;
  /* flex-basis: 100%;  */
  background-color: #232F3E; 
 /* display: flex; */
  /* justify-content: center;   */
  /* align-items: center; */ 
 
}

.navBot .categories{  
  float: left;  
}
.navBot .categories li{
  display: block;    
  list-style: none;  
  position: relative;
  float: left;
}
.navBot .categories li  a{
  
  font-family: arial;
  display: block;
 font-size: 18px;
 padding: 22px 14px;
 color: red;
}
.navBot .categories li ul{
  display: none;
  position: absolute;
  background-color: white;
  padding: 12px;
  border-radius: 0px 0px 50px 10px;
  }
  .navBot .categories li:hover ul{
    display: block;

    }

.navBot .categories li ul li {
   width: 180px;
   border-radius: 4px;
  }

  .navBot .categories li ul li a{
    padding: 8px 14px;
  }
  .navBot .categories li ul li a:hover{
    background-color:#f3f3f3 ;
  }
